/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
@font-face {
  font-family: 'Digital';
  src: url('DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  /* font-family: 'Orbitron', sans-serif; */
  letter-spacing: 0.5px;
  font-family: 'Digital';
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.history {
  letter-spacing: 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 25px 22.5px 22.5px 22.5px;
  width: 270px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 5px;
  height: 95px;
  padding: 0 10px;
  background-color: #222;
  font-size: 45px;
  color: #fff;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
}

.history {
  color: gray;
  font-size: 15px;
  line-height: 15px;
  /* font-weight: 900; */
}

.result-number {
  line-height: 45px;
}

/* Estilos dos botões */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 25px;
}

.btn {
  font-family: 'Digital';
  height: 60px;
  background-color: #ebebeb;
  font-size: 30px;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ccc;
}

.btn-clear {
  grid-column: span 3;
}

.btn-clear,
.btn-delete,
.btn-point {
  background-color: #dfdfdf;
}

.btn-operator {
  background-color: #72d1fa;
  color: #fff;
}

.btn-equals {
  background-color: #00d77d;
  color: #fff;
}

.btn-operator:hover {
  background-color: #37bbf4;
  color: #fff;
}

.btn-equals:hover {
  background-color: #00bf6f;
  color: #fff;
}
